@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
body{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}
:root{
	--color-titulos:#2750d0;
	--color-contenido:#333;
	--color-naranja:#ff9f06;
	--color-azul:#2750d0;
	--fondo-footer:#091f5b;
}
header{
	background-color: #fff;
}

.titulo{
	text-transform: uppercase;
	font-size: 40px; 
	font-weight: 800;
	text-align: center;
	margin-bottom: 30px;
	color: var(--color-titulos);
}

.titulo::after{
	content: '';
	display: block;
	border-bottom: 3px solid #2750d0;
	margin: 20px auto;
	width: 70px; 
}

#services{
	text-align: center;
	padding: 50px 0;
}

#services i{
	font-size: 50px;
	margin-bottom: 10px;
}

#services h3{
	font-weight: 900;
	margin-bottom: 10px;
}

#services p{
	color: var(#333);
	margin-bottom: 10px;
}

#welcome{
	padding: 50px 0;
}

#welcome p{
	color: var(#333);
	font-size: 20px;
}

.contenido{
	text-align: center;
}

.contenidorow{
	text-align: left;
}

#gallery{
	background-color: var(--color-azul);
	text-align: center;
	padding: 50px 0;
}

#gallery p{
	color: #C3C2C2;
	font-size: 20px;
}

.galeria{
	text-transform: uppercase;
	font-size: 40px; 
	font-weight: 800;
	text-align: center;
	margin-bottom: 30px;
	color: var(--color-naranja);
}

.galeria::after{
	content: '';
	display: block;
	border-bottom: 3px solid #091f5b;
	margin: 20px auto;
	width: 70px; 
}

#clients{
	text-align: center;
	padding: 50px 0;
}

#clients p{
	color: var(#333);
	font-size: 20px;
	margin-bottom: 30px;
}

#clients .row{
	opacity: 50%;
}

.nombre{
	font-size: 20px;
}

footer{
	background-color: var(--fondo-footer);
	color: #acbad4;
	padding: 30px 0;
	text-align: center;
	font-size: 13px;
}
